In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from statistics import stdev

In [26]:
df = pd.read_csv('Análise_predição_ativos.csv', sep=',')

In [28]:
df['Predição'].value_counts()

Predição
Não sera desligado    4675
Será desligado         356
Name: count, dtype: int64

In [17]:
df['Tempo de Empresa'] = df['Tempo de Empresa'].str.replace(',','.')
df['Tempo de Empresa'] = df['Tempo de Empresa'].astype(float)

In [18]:
df['Classif. Salário'].value_counts()

Classif. Salário
Alto     4121
Médio     691
Baixo     219
Name: count, dtype: int64

In [19]:
df['Qtd. Dependentes'].value_counts()

Qtd. Dependentes
0,0    2499
1,0    1188
2,0     806
3,0     408
4,0     115
5,0      14
6,0       1
Name: count, dtype: int64

In [20]:
df['Idade'].value_counts()

Idade
32    167
39    165
37    165
34    165
36    163
28    159
33    158
26    154
29    153
43    148
31    146
41    145
35    143
45    140
42    140
24    134
27    134
44    132
38    130
30    129
25    127
40    121
23    115
49    109
46    109
22     98
50     98
47     95
48     92
51     89
21     88
54     85
52     79
53     78
56     76
55     75
20     73
57     67
58     61
59     59
19     54
60     51
61     41
18     26
63     21
62     19
64     16
65     11
66      7
67      6
68      6
69      6
70      1
71      1
73      1
Name: count, dtype: int64

In [21]:

df_contratação_ideial = df.groupby('Cargo')[['Idade']].mean().reset_index()
#df_filter_cargo = df[['Cargo', 'Idade']].groupby()

df_contratação_ideial['Idade'] = df_contratação_ideial['Idade'].astype(int)

df_contratação_ideial.to_excel('Contratação ideal.xlsx')

In [22]:
df_contratação_ideial

                    Cargo  Idade
0    1/2 OF DE MANUTENCAO     38
1    1/2 OF MEC REFRIGERA     20
2    1/2 OFICIAL ELETRICA     30
3    1/2 OFICIAL POLIVALE     48
4    1/2 OFICIAL REFRIGER     31
..                    ...    ...
327            TELHADISTA     32
328         TELHADISTA II     27
329     TORNEIRO MECANICO     54
330            TRATORISTA     49
331         VIGIA DE OBRA     44

[332 rows x 2 columns]

In [23]:
df = pd.read_csv('Análise_predição_desligados.csv', sep=',')

In [24]:
df['Estado'].value_counts()

Estado
SP    8033
MG    2041
MT    1060
RJ    1038
PR     664
GO     316
BA     294
MS     243
ES     241
RS     229
PE     128
TO      86
SC      86
PA      79
MA      26
DF      20
SE      19
RN      16
CE       6
AL       4
PB       4
AM       4
RO       2
AC       1
Name: count, dtype: int64

In [25]:
df_filter_critico = df[['Cargo', 'Estado']]

df_filter_critico['Estado'].value_counts()

Estado
SP    8033
MG    2041
MT    1060
RJ    1038
PR     664
GO     316
BA     294
MS     243
ES     241
RS     229
PE     128
TO      86
SC      86
PA      79
MA      26
DF      20
SE      19
RN      16
CE       6
AL       4
PB       4
AM       4
RO       2
AC       1
Name: count, dtype: int64